@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}


/* navbar section style */
.header-nav{
  max-width: 1170px;
  margin: 0 auto;

}
body{
  padding: 0 20px;
  overflow-x: hidden;
  
}
header{
  height: 138px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
header .nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 50%;
}
header .nav-container img{
  width: 60px;

}
header .nav-container h3{
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
header .nav-container span{
  color: #FF5400;
}
header nav{
 height: 100%;
 width: 40%;
}
header nav ul {
  display: flex;
  width: 100%;
  min-height: 100%;
  justify-content: space-between;
  align-items: center; 
}
header nav ul li{
  list-style-type: none;
  
}
header nav ul li a{
  text-decoration: none;
  color:  #424247;
  text-align: center;
}



/* banner styles start */
.banner-section{
  height: 500px;
  border-radius: 16px;
  background-image: url(images/Group\ 13\ \(1\)\ \(1\).png);
}

.banner-section-container{
  border-radius: 16px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  justify-content: center;
}
.banner-section-container h1{
  color:#FFF;
  font-size: 64px;
  font-weight: 800;
}
.banner-section-container p{
  color: #FFF;
  text-align: center;
  line-height: 26px;
  max-width: 670px;
  margin-bottom: 35px;
}
.banner-section-container form{
  padding: 16px;
  width: 70%;
  min-height:90px ;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}
.banner-section-container .type-btn{
  border: 2px solid black;
  width: 22%;
  border-radius: 10px;
  display: inline-flex;
  height: 50px;
  border: none;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.50);
  padding: 0px 10px;
}
.banner-section-container form input[type=text]{
  color: rgba(19, 19, 24, 0.50);
  padding: 20px;
  font-weight: 400;
  border-radius: 8px;

}
.banner-section input[type=text]{
  width: 100%;
  height: 100%;
  border-radius: 18px;
  border: none;
}
.banner-section-container button{
  border-radius: 8px;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-weight: 700;
  border: 2px solid black;
  width: 22%;
  border-radius: 10px;
  display: inline-flex;
  height: 50px;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* end banner styles */


/* stat popular style  */
.popular-section{
  margin-top: 80px;
  height: 550px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.popular-container{
  width: 45%;
}
.popular-h2{
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}
.popular-p{
  color: rgba(19, 19, 24, 0.70);
  font-weight: 162.5% ;
  max-width:  577px;
}
.popular-section ul{
  list-style-position: inside;
}

.popular-section ul li{
  text-indent: -1.3em;
  padding-left: 1.2em;
}
.popular-section .img-container{
  width: 50%;
  border-radius: 16px;
  height: 100%;
}
.popular-section img{
  border-radius: 16px;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.popular-section .content{
  margin-bottom: 30px;

}
.popular-container ul li {
  margin-bottom: 20px;
}
.popular-container button{
  padding: 14px 34px;
  border-radius: 8px;
  background: #FF5400;
  border: none;
  color: #FFF;
  font-size: 20px;
  font-weight: 800;
}
/* end popular styles */

/* stat main styles */
.destination-title {
  min-height: 1100px;
  margin-bottom: 80px;
}
.destination-title p{
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
.destination-title h2{
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.destination-container-div{
  min-height: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20%,1fr));
  grid-gap: 15px;
  width: 100%;
  grid-auto-rows: 300px;
}

/* hover */
.destination-container-div {
  display: grid;
  gap: 25px;
}
.Destination-items {
  transition: transform 0.3s ease-in-out;
}
.Destination-items:hover {
  transform: scale(1.1);
}
/* hover */

.Destination-items{
  background-color: #8d98aa;
  border-radius: 16px;
}
.Destination-items img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.Destination-items:nth-child(1){
  grid-column: span 2;
  position: relative;
}
.Destination-items:nth-child(n)::before{
  background-color: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  color: #FFF;
  font-size: 28px;
  font-weight: 800;
}
.Destination-items:nth-child(1)::before{
  content: 'Maldives';
}
.Destination-items:nth-child(2){
  grid-column: span 2;
  position: relative;
}
.Destination-items:nth-child(2)::before{
  content: 'Indonesia';
}
.Destination-items:nth-child(3){
  grid-column: span 1;
  position: relative;
}
.Destination-items:nth-child(3)::before{
  content: 'Srilanka';
}
.Destination-items:nth-child(4){
  grid-column: span 2;
  position: relative;
}
.Destination-items:nth-child(4)::before{
  content: 'North America';
}
.Destination-items:nth-child(5){
  grid-column: span 1;
  position: relative;
}
.Destination-items:nth-child(5)::before{
  content: 'Kashmir';
}
.Destination-items:nth-child(6){
  grid-column: span 2;
  position: relative;
}
.Destination-items:nth-child(6)::before{
  content: 'Bangladesh';
}
.Destination-items:nth-child(7){
  grid-column: span 2;
  position: relative;
}
.Destination-items:nth-child(7)::before{
  content: 'Bandarban';
}

/* why choose us section styles */
.Choose-us-title {
  min-height: 700px;
  margin-bottom: 80px;
}
.Choose-us-title p{
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  
}
.Choose-us-title h2{
  text-align: center;
  margin-bottom: 20px;
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.Choose-title-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;

}
.Choose-title-container *{
  margin-bottom: 20px;
}
.Choose-title-container .choose{
  width: calc(50% - 20px);
  border-radius: 16px;
  min-height: 280px;
  padding: 32px 55px 32px 32px;
}
.choose p{
  color: #5A5A5D;
  font-weight: 400;
  line-height: 162.5%;
  text-align: left;

}
.choose h3{
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.Choose-title-container .title-three{
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
}
.Choose-title-container .title-one{
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);
  background: rgba(251, 181, 99, 0.05);
}
.Choose-title-container .title-two{
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
}
/* end main styles */

/* last section style */
.form-container{
  height: 420px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-container form{
  width: 43%;
  border-radius: 16px;
  border: 1px solid #FF5400;
  display: block;
  height: 100%;
  padding: 3%;
}
.form-container form h2{
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.form-container form p{
  color: #5A5A5D;
  font-weight: 400;
  line-height: 162.5% ;
  padding: 15px 0 15px 0;
  max-width: 350px;
}
.form-container form input{
  display: block;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin: 20px 0;
  border: none;
  padding: 15px;
}
.form-container form button{
  height: 60px;
  width: 100%;
  border-radius: 8px;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border: none;
}
.form-container form input:focus{
  outline: 1px solid black;
}
.form-container form input::placeholder{
  color: rgba(19, 19, 24, 0.30);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-container .content-img{
  width: 55%;
  position: relative;
  height: 100%;
}
.form-container .content-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.form-container .content-img .save-card{
  position: absolute;
  width: 320px;
  height: 120px;
  transform: rotate(-25deg);
  bottom: 65px;
  right: 13px;
  border-radius: 16px;
  background: #FF5400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form-container .content-img .save-card h3{
  color: #FFF;
  font-size: 32px;
  font-weight: 800;
}
.form-container .content-img .save-card p{
  text-transform: lowercase;
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
}

/* footer part styles */

footer{
  height: 500px;
  padding: 90px 0;
  width: 100%;
  background: rgba(19, 19, 24, 0.05);
}
.footer-container{
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .logo {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 300px;
}
footer .logo img{
  width: 55px;
}
footer .logo h3{
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}
footer .logo span{
  color: #FF5400;
}
footer p{
  max-width: 770px;
  color: #5A5A5D;
  text-align: center;
  font-weight: 400;
  line-height: 162.5% ;
  margin: 0 auto;
}
footer .icon-footer{
 width: 100%;
 text-align: center;
 border-bottom: 2px solid rgba(19, 19, 24, 0.10);
 height: 80px;
 margin-top: 20px;
}
footer .icon-footer a{
  width: 30px;
  text-decoration: none;
  padding: 10px;
}
footer .icon-footer a img{
 width: 30px;
}
footer h6{
  margin-top: 40px;
  color: #131318;
  font-weight: 300;
  text-align: center;
}
/* end styles */

@media screen and (max-width:600px){
  
  body{
    padding: 15px;
  }
  header nav ul li{
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
  }
  header nav ul{
    top: 80px;
 }
.banner-section{
  height: 700px;
  background-position: center;
  background-size: cover;
}
.banner-section-container{
  width: 100%;
  display: BLOCK;
}
.banner-section-container h1{
  font-size: 7vw;
  text-align: center;
  padding-top: 40PX;
  padding-bottom: 20px;
}
.banner-section-container p{
  max-width: 70vw;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150% 
}
.banner-section-container form{
  padding: 16px;
  width: calc(100% - 32px);
  margin: auto;
  min-height:400px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}
.banner-section-container .type-btn{
  width: calc(100% - 32px);
  height: 60px;
  border: none;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.50);
  font-size: 16px;
  font-weight: 400;
  padding: 0px 10px;
}
.banner-section-container form input[type=text]{
  width: 100vw;
}
.banner-section input[type=text]{
  border-radius: 18px;
  width: calc(100% - 32px);
}
.banner-section-container button{
  border-radius: 8px;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  width: calc(100% - 32px);
  border-radius: 10px;
  height: 60px;
  border-radius: 8px;
  gap: 10px;
}
/* banner end */

}

