@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}


/* navbar section style */
.header-nav{
  max-width: 1170px;
  margin: 0 auto;

}
body{
  padding: 0 20px;
  overflow-x: hidden;
  
}
header{
  height: 138px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
header .nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 50%;
}
header .nav-container img{
  width: 60px;

}
header .nav-container h3{
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
header .nav-container span{
  color: #FF5400;
}
header nav{
 height: 100%;
 width: 40%;
}
header nav ul {
  display: flex;
  width: 100%;
  min-height: 100%;
  justify-content: space-between;
  align-items: center; 
}
header nav ul li{
  list-style-type: none;
  
}
header nav ul li a{
  text-decoration: none;
  color:  #424247;
  text-align: center;
}



/* banner styles start */
.banner-section{
  height: 500px;
  border-radius: 16px;
  background-image: url(images/Group\ 13\ \(1\)\ \(1\).png);
}

.banner-section-container{
  border-radius: 16px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  justify-content: center;
}
.banner-section-container h1{
  color:#FFF;
  font-size: 64px;
  font-weight: 800;
}
.banner-section-container p{
  color: #FFF;
  text-align: center;
  line-height: 26px;
  max-width: 670px;
  margin-bottom: 35px;
}
.banner-section-container form{
  padding: 16px;
  width: 70%;
  min-height:90px ;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}
.banner-section-container .type-btn{
  border: 2px solid black;
  width: 22%;
  border-radius: 10px;
  display: inline-flex;
  height: 50px;
  border: none;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.50);
  padding: 0px 10px;
}
.banner-section-container form input[type=text]{
  color: rgba(19, 19, 24, 0.50);
padding: 20px;
font-size: 16px;
font-weight: 400;
border-radius: 8px;

}
.banner-section input[type=text]{
  width: 100%;
  height: 100%;
  border-radius: 18px;
  border: none;
}
.banner-section-container button{
  border-radius: 8px;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-weight: 700;
  border: 2px solid black;
  width: 22%;
  border-radius: 10px;
  display: inline-flex;
  height: 50px;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* end banner styles */


/* stat popular style  */
.popular-section{
  margin-top: 80px;
  height: 550px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.popular-container{
  width: 45%;
}
.popular-h2{
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}
.popular-p{
  color: rgba(19, 19, 24, 0.70);
  font-weight: 162.5% ;
  max-width:  577px;
}
.popular-section ul{
  list-style-position: inside;
}

.popular-section ul li{
  text-indent: -1.3em;
  padding-left: 1.2em;
}
.popular-section .img-container{
  width: 50%;
  border-radius: 16px;
  height: 100%;
}
.popular-section img{
  border-radius: 16px;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.popular-section .content{
  margin-bottom: 30px;

}
.popular-container ul li {
  margin-bottom: 20px;
}
.popular-container button{
  padding: 14px 34px;
  border-radius: 8px;
  background: #FF5400;
  border: none;
  color: #FFF;
  font-size: 20px;
  font-weight: 800;
}
/* end popular styles */

/* stat main styles */
.destination-title {
  min-height: 1100px;
  margin-bottom: 80px;
}
.destination-title p{
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
.destination-title h2{
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.destination-container-div{
  min-height: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20%,1fr));
  grid-gap: 15px;
  width: 100%;
  grid-auto-rows: 300px;
}

/* hover */
.destination-container-div {
  display: grid;
  gap: 25px;
}
.Destination-items {
  transition: transform 0.3s ease-in-out;
}
.Destination-items:hover {
  transform: scale(1.1);
}
/* hover */

.Destination-items{
  background-color: #8d98aa;
  border-radius: 16px;
}
.Destination-items img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.Destination-items:nth-child(1){
  grid-column: span 2;
  position: relative;
}
.Destination-items:nth-child(n)::before{
  background-color: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  color: #FFF;
  font-size: 28px;
  font-weight: 800;
}
.Destination-items:nth-child(1)::before{
  content: 'Maldives';
}
.Destination-items:nth-child(2){
  grid-column: span 2;
  position: relative;
}
.Destination-items:nth-child(2)::before{
  content: 'Indonesia';
}
.Destination-items:nth-child(3){
  grid-column: span 1;
  position: relative;
}
.Destination-items:nth-child(3)::before{
  content: 'Srilanka';
}
.Destination-items:nth-child(4){
  grid-column: span 2;
  position: relative;
}
.Destination-items:nth-child(4)::before{
  content: 'North America';
}
.Destination-items:nth-child(5){
  grid-column: span 1;
  position: relative;
}
.Destination-items:nth-child(5)::before{
  content: 'Kashmir';
}
.Destination-items:nth-child(6){
  grid-column: span 2;
  position: relative;
}
.Destination-items:nth-child(6)::before{
  content: 'Bangladesh';
}
.Destination-items:nth-child(7){
  grid-column: span 2;
  position: relative;
}
.Destination-items:nth-child(7)::before{
  content: 'Bandarban';
}
/* end main styles */
